/* media query start */

/* tab */
@media only screen and (min-width: 669px) and (max-width: 992px) {
    .navigation{
        display: none;
    }

/* start */
    .container{
        width: 100%;
    }
    .container .container-title{
        width: 95%;
        height: auto;
    }
/* end */



     /* header */
    .welcome h1{
        font-size: 45px;
    }   
    .introduction{
        width: 100%;
        justify-content: space-between;
    }
    .welcome,.welcome-banner{
        width: 70%;
        margin: 0 5%;
    }
    .introduction-area{
        width: auto;
        height: auto;
        padding: 15px;
    }

    .welcome-banner{
        margin: 50px 0;
        height: auto;
    }
    
    /* header end */




    /* players */
    .players{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }
    .player{
        width: 90%;
        height: auto;
    }
    /* player  end */



    /* highlighter */
    .highlight{
        flex-direction: column;
        align-items: center;
    }
    .highlight-content, .highlight-banner{
        width: 95%;
    }
    .highlight-banner{
        margin-top: 50px;
    }
    /* highlighter end */


    /* footer */
    .contact{
        width: 65%;
        margin-bottom: 165px;
    }
}
/* tab */